@model Bartosz_Lacny_projekt_bazy_danych.Models.Animal

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń zwierzaka</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category!.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cage!.CageNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cage.CageNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex gap-2 mt-1">
            <input type="submit" value="Usuń" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Wróć do listy zwirząt</a>
        </div>
    </form>
</div>
