@model Bartosz_Lacny_projekt_bazy_danych.Models.AdoptionApplication

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły wniosku</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animal!.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animal.Name)
        </dd>
    </dl>
</div>
<div class="d-flex gap-2 mt-1">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edytuj</a>
    <a asp-action="Index" class="btn btn-secondary">Wróc do listy wniosków</a>
</div>